
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Vue App - SB Admin Template</title>

        <link href="css/bootsrap-admin.css" rel="stylesheet" />

    </head>
    <body class="sb-nav-fixed">
    <div id="app">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <a class="navbar-brand" href="index.html">{{appTitle}}</a>
            <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#">☰</button>
            <!-- Navbar Search-->
            <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2" />
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button">🔍</button>
                    </div>
                </div>
            </form>
            <!-- Navbar-->
            <ul class="navbar-nav ml-auto ml-md-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">👨</a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                        <a class="dropdown-item" href="#">Dropdown Menu 1</a>
                        <a class="dropdown-item" href="#">Dropdown Menu 2</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Dropdown Menu 3</a>
                    </div>
                </li>
            </ul>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <a class="nav-link" href="#">
                                <div class="sb-nav-link-icon">🏠</div>
                                Menu 1
                            </a>
                            <a class="nav-link" href="#">
                                <div class="sb-nav-link-icon">☕</div>
                                Menu 2
                            </a>
                            <a class="nav-link" href="#">
                                <div class="sb-nav-link-icon">📈</div>
                                Menu 3
                            </a>
                        </div>
                    </div>
                </nav>
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">
                        <!-- Main content here... -->
                        <div class="row">
                            <div class="col-md-12">
                                <h1 class="mt-4">All Songs</h1>
                                <button class="btn btn-primary" @click="getSongs()">Refresh Songs</button>

                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th v-for="header in headers">{{header}}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="song in songItems">
                                                <td>{{song.id}}</td>
                                                <td>{{song.title}}</td>
                                                <td>{{song.artist}}</td>
                                                <td>{{song.genre}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                       </div>
                    </div>
                </main>
            </div>
        </div>
    </div>

        <script src="js/jquery.min.js" crossorigin="anonymous"></script>
        <script src="js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>

        <script src="js/vue.js"></script>
        <script src="js/axios.min.js"></script>
        <script>
            var songApp = new Vue({
                el: "#app",
                data: {
                    baseUrl: "http://bernardgabon.somee.com",
                    appTitle: "Song Collection",
                    headers: ["Id", "Title", "Artist", "Genre"],
                    songItems: [],
                    babyName: "Angel"
                },
                methods: {
                    getSongs: function() {
                        axios.get(this.baseUrl + "/api/Song")
                            .then(response => {
                                this.songItems = response.data;
                            });
                    },
                },
                mounted: function() {
                    this.getSongs();
                }
            })
        </script>

        <script src="js/bootstrap-admin.js"></script>
    </body>
</html>
